$primary-color: darkblue;
$background-color: #BADA55;

// Chrome applies an 8px margin by default (gross).
body {
    margin: 0px;
}

.popupContainer {
}

.floatButton{
    position: fixed;
    right : 30px;
    bottom : 30px;
    width : 50px;
    height : 50px;
    border-radius: 50%;
    background: #0052CC;
    color : #ffffff;
}